.x-1-icon1 {
    width: 28px;
    position: relative;
    height: 28.5px;
    object-fit: cover;
  }
  .x-1-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .show_n6-a56e0b9a-icon {
    width: 110px;
    position: relative;
    height: 110px;
    object-fit: cover;
  }
  .show_n6-a56e0b9a-wrapper {
    perspective: 1000px;
    width: 110px;
    height: 110px;
  }
  
  .rotating-cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    /* animation: rotate 1s linear infinite; */
  }
  
  .cube-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    transform: translateZ(1px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(1px);
  }
  
  .show_n6-a56e0b9a-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .show_winning-number-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs) 0;
    background-image: url(./public/frame-430@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .show_frame-parent98,
  .show_frame-parent99 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .show_frame-parent99 {
    align-self: stretch;
    justify-content: center;
    padding: var(--padding-9xs) 0 0;
    gap: 32px;
  }
  .show_frame-parent98 {
    width: 100%;
    position: relative;
    justify-content: flex-end;
    padding: 32px 0 0;
    box-sizing: border-box;
    background-image: url(./public/frame-428@3x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-xs);
    color: #010421;
    font-family: var(--font-inter);
  }
  #violet,
  #bet_green_div,
  #bet_red_div,
  #number_bet_div {
    display: none;
  }
  .b2,
  .period- {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 130.43%;
  }
  .period- {
    white-space: pre-wrap;
  }
  .b2 {
    color: var(--color-darkslategray-100);
  }
  .period-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .pngegg-1-icon {
    width: 18px;
    position: relative;
    height: 18px;
    object-fit: cover;
  }
  .timer- {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 130.43%;
  }
  .frame-parent70,
  .pngegg-1-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pngegg-1-parent {
    width: 109.3px;
    height: 18px;
    flex-direction: row;
    gap: var(--gap-10xs);
    color: #121718;
  }
  .frame-parent70 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-4xs);
  }
  .b4,
  .text1 {
    position: relative;
  }
  .text1 {
    background: linear-gradient(180deg, #494d72, #4d5d8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .b4 {
    font-family: var(--font-imbue);
    margin-left: -1px;
  }
  .text-group {
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-smi);
    background-color: #91aa6f;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-darkslateblue-200);
    font-family: var(--font-impact);
  }
  .balance-parent,
  .frame-parent69 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
  }
  .balance-parent {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-4xs);
    color: var(--color-darkslategray-100);
  }
  .frame-parent69 {
    border-radius: 0 0 var(--br-7xs) var(--br-7xs);
    height: 63px;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-6xs);
    box-sizing: border-box;
    /* background-image: url(./public/frame-319@3x.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-icon {
    width: 56px;
    border-radius: var(--br-71xl);
    height: 58px;
    object-fit: cover;
  }
  .frame-parent74,
  .frame-parent75 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
  }
  .frame-parent75 {
    z-index: 1;
  }
  .div75 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 131.53%;
  }
  .wrapper27 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: #42ae74;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .div76 {
    width: 21px;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 131.53%;
    color: violet;
    display: inline-block;
    flex-shrink: 0;
  }
  .wrapper28 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: #ff545a;
    flex-direction: column;
  }
  .frame-parent73,
  .frame-parent76,
  .wrapper28 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-parent76 {
    width: 100%;
    margin: 0 !important;
    position: absolute;
    top: -200px;
    left: 6px;
    background-color: #010421;
    filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.25) inset);
    border-radius: 12px;
    height: 164px;
    flex-direction: row;
    padding: var(--padding-10xs) 34px;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    z-index: 2;
  }
  .frame-parent73 {
    align-self: stretch;
    border-radius: 14px;
    flex-direction: column;
    padding: 18px var(--padding-7xs);
    gap: var(--gap-xs);
    background-image: url(./public/frame-309@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: var(--font-jaini-purva);
  }
  .frame-parent73,
  .green {
    position: relative;
  }
  .green-wrapper,
  .violet-wrapper {
    justify-content: center;
    padding: var(--padding-xs);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .green-wrapper {
    width: 104px;
    border-radius: var(--br-5xs) 0 var(--br-5xs) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #42ae74;
    /* background-image: url(./public/frame-300@3x.png); */
  }
  .violet-wrapper {
    width: 95px;
    border-radius: var(--br-5xs);
    background-color: violet;
    /* background-image: url(./public/frame-299@3x.png); */
  }
  .frame-parent77,
  .red-wrapper,
  .violet-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .red-wrapper {
    width: 85px;
    border-radius: 0 var(--br-5xs) 0 var(--br-5xs);
    justify-content: center;
    padding: var(--padding-xs);
    box-sizing: border-box;
    background-color: red;
    /* background-image: url(./public/frame-298@3x.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-parent77 {
    align-self: stretch;
    justify-content: space-between;
    text-align: left;
    font-size: var(--font-size-mini);
    color: black;
  }
  .previous-result,
  .previous-result-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .previous-result {
    flex: 1;
    color: #010421;
    position: relative;
    height: 13px;
  }
  .previous-result-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-8xs) 0 var(--padding-11xs);
  }
  .frame-child11,
  .frame-child19 {
    width: 32px;
    border-radius: var(--br-37xl);
    height: 31px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-child19 {
    width: 28px;
    height: 27px;
    display: none;
  }
  .frame-parent79 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: var(--padding-8xs) var(--padding-7xs);
    gap: 3px 11px;
  }
  .frame-wrapper16 {
    align-items: center;
    padding: var(--padding-12xs) 0;
  }
  .frame-parent72,
  .frame-parent78,
  .frame-wrapper16 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .frame-parent78 {
    border-radius: var(--br-5xs);
    align-items: center;
    /* background-image: url(./public/kkkkkk.png); */
    background-size: cover;
    border-width: 2px;
    border-style: solid;
    border-color: #010421;
    background-repeat: no-repeat;
    background-position: top;
    font-size: var(--font-size-lg);
    color: #ceff00;
  }
  .frame-parent72 {
    align-items: flex-start;
    padding: 0 var(--padding-7xs);
    gap: var(--gap-8xs);
    text-align: center;
  }
  .bet-on-red {
    flex: 1;
    position: relative;
  }
  .bet-on-red-wrapper,
  .frame-parent82 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bet-on-red-wrapper {
    flex: 1;
  }
  .frame-parent82 {
    align-self: stretch;
    gap: var(--gap-3xs);
  }
  .frame-child21 {
    width: 38px;
    border-radius: var(--br-581xl);
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-wrapper19 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-child23 {
    width: 36px;
    border-radius: var(--br-581xl);
    height: 38px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-wrapper21 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-child24 {
    align-self: stretch;
    border-radius: var(--br-581xl);
    max-width: 100%;
    overflow: hidden;
    height: 38px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-wrapper22 {
    width: 40px;
    flex-direction: column;
  }
  .frame-parent83,
  .frame-wrapper18,
  .frame-wrapper22 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent83 {
    width: 182px;
    flex-direction: row;
    gap: var(--gap-9xs);
  }
  .frame-wrapper18 {
    align-self: stretch;
    flex-direction: column;
  }
  .frame-parent81,
  .frame-wrapper17,
  .frame-wrapper23,
  .frame-wrapper29 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frame-parent81 {
    justify-content: center;
    padding: var(--padding-xl) 0 var(--padding-3xs);
    gap: var(--gap-4xs);
  }
  .frame-wrapper17,
  .frame-wrapper23,
  .frame-wrapper29 {
    border-radius: var(--br-7xs);
    justify-content: flex-start;
    padding: 0 var(--padding-mid);
    background-image: url(./public/red_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-wrapper23,
  .frame-wrapper29 {
    background-image: url(./public/frame-165@3x.png);
  }
  .frame-wrapper29 {
    background-image: url(./public/frame-164@3x.png);
  }
  .span3 {
    color: var(--color-gray-700);
  }
  .bet-on-number-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .frame-wrapper35 {
    align-self: stretch;
    border-radius: var(--br-7xs);
    flex-direction: column;
    padding: 0 var(--padding-mid);
    background-image: url(./public/number_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-parent80,
  .frame-wrapper35,
  .live-betting-orders {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-parent80 {
    align-self: stretch;
    flex-direction: column;
    padding: var(--padding-7xs) 0;
    gap: var(--gap-6xs);
    font-size: var(--font-size-base);
    font-family: var(--font-aclonica);
  }
  .live-betting-orders {
    width: 150px;
    position: relative;
    white-space: pre-wrap;
    height: 19px;
    flex-shrink: 0;
    text-shadow: 0 4px 4px rgba(218, 158, 165, 0.62);
  }
  .live-betting-orders-wrapper,
  .points-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .live-betting-orders-wrapper {
    align-self: stretch;
    text-align: center;
    font-family: var(--font-lalezar);
  }
  .points-wrapper {
    flex: 1;
    padding: var(--padding-3xs);
  }
  .frame-parent94 {
    align-self: stretch;
    background: linear-gradient(90deg, #3b6fb6, #e6ed95);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
  }
  .points2 {
    position: relative;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .points-frame {
    align-self: stretch;
    font-family: var(--font-josefin-sans);
  }
  .points-frame,
  .side-container {
    flex: 0.7436;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
  }
  .frame-child37 {
    width: 25px;
    border-radius: var(--br-71xl);
    height: 26px;
    object-fit: cover;
  }
  .frame-wrapper42 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .b5 {
    position: relative;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .frame-parent95,
  .frame-parent96,
  .frame-wrapper41 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent95,
  .frame-wrapper41 {
    flex-direction: column;
  }
  .frame-wrapper41 {
    padding: 0 var(--padding-6xs);
  }
  .frame-parent95 {
    gap: var(--gap-8xs);
    font-size: var(--font-size-3xs);
  }
  .icon7 {
    width: 133px;
    position: relative;
    height: 74px;
    object-fit: cover;
  }
  .please-wait-for {
    position: relative;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
  }
  .parent20 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-parent93 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    align-items: flex-start;
    padding: var(--padding-2xs) 0;
    background-color:white;
    color: #010421;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-size: var(--font-size-lg);
  }
  .frame-parent71,
  .frame-parent93,
  .frame-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent71 {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 var(--padding-10xs) var(--padding-xs);
    gap: var(--gap-10xs);
    text-align: left;
    font-size: var(--font-size-83xl);
    color: var(--color-white);
  }
  .frame-top {
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    gap: var(--gap-7xs);
    text-align: center;
    font-size: var(--font-size-sm);
    color: #151617;
    font-family: var(--font-inika);
  }
  .sorry-betting-time {
    position: relative;
  }
  .mimi-sub-sub {
    flex-direction: row;
  }
  .mimi-sub-sub,
  .mimum,
  .mimum-sub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mimum-sub {
    flex: 1;
    flex-direction: column;
  }
  .mimum {
    align-self: stretch;
    border-radius: var(--br-9xs);
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-xs);
    background-image: url(./public/mimum@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: #092c1b;
  }
  .insufficient-fund-in {
    position: relative;
    white-space: pre-wrap;
  }
  .insub {
    align-self: stretch;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-7xs) var(--padding-xs);
    background-image: url(./public/insub@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .minimum-betting {
    white-space: pre-wrap;
  }
  .cpb {
    align-self: stretch;
    border-radius: var(--br-9xs);
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-xs);
    background-image: url(./public/cpb@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: #bfefd8;
  }
  .cpb,
  .here-place,
  .mimum-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .here-place {
    align-self: stretch;
    border-radius: var(--br-9xs);
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-xs);
    background-image: url(./public/here-place@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mimum-parent {
    width: 100%;
    position: absolute;
    height: 189px;
    top: 50px;
    flex-direction: column;
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-inika);
    z-index: 999;
  }
  #win,
  #bet_placed,
  #insuf_fun,
  #betting_over {
    display: none;
  }
  
  .a-vibrant-and-eye-catching-ima-icon {
    width: 320px;
    position: relative;
    border-radius: 28px;
    height: 320px;
    object-fit: cover;
    z-index: 0;
  }
  .b7 {
    width: 60px;
    top: 92px;
    left: 131px;
    z-index: 1;
    font-size: 24px;
  }
  .b7,
  .div79,
  .number-red {
    position: absolute;
    margin: 0 !important;
    display: inline-block;
    background: linear-gradient(
      180deg,
      #f8d659 10%,
      #bd9b25 24.5%,
      #8fff00 48.5%,
      #bd9b26 74.5%,
      #f8d659
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
  }
  .div79 {
    width: 20px;
    top: 89px;
    left: 112px;
    font-size: 34px;
    font-family: var(--font-inika);
    z-index: 2;
  }
  @keyframes slideUp {
     from { transform: translateY(100%); opacity: 0; }
       to { transform: translateY(0); opacity: 1; }
     }
  .number-red {
    width: 166px;
    top: 177px;
    left: 78px;
    z-index: 3;
  }
  .a-vibrant-and-eye-catching-ima-parent,
  .frame-parent100 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .a-vibrant-and-eye-catching-ima-parent {
    border-radius: var(--br-5xl);
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .frame-parent100 {
    width: 96%;
    position: absolute;
    top: 120px;
    z-index: 999;
    justify-content: center;
    padding: var(--padding-3xs) 0;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-9xl);
    font-family: var(--font-inria-serif);
  }
  